@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Voces&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Voces', sans-serif;
  background-color: #00223b;
  color:#00bcd9;  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background-color: #00223b;
    color: #00bcd9;
  }
}
